.converters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.converter__item {
  margin: 0.5rem;
  font-size: 0.75rem;
}

.converter__label {
  display: flex;
  align-items: baseline;
}

.converter__field {
  min-width: 88px;
  width: 100%;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 0.75rem;
}
